{% import "../../macros/_macros.html" as macros %}
{% if is_in_previewer %}
{{ require_css (get_asset_url('../../css/styles.css')) }}
{% endif %}

<div class="cmMegaMenu">
  <div class="cmInnerWrap">
    <ul class="mainNav">
      {% for item in module.menu_group %}
      {% set mainMenuLoop = loop.index %}
      {% if item.menu %}
      <li class="items item_{{mainMenuLoop}} {% if item.include_child_menu %}hasChildMenu{% endif %}">
        {% if item.include_link %}
        {% set href = item.link.url.href %}
        {% if item.link.url.type is equalto "EMAIL_ADDRESS" %}
        {% set href = "mailto:" + href %}
        {% endif %}
        <a
           {% if item.link.url.type is equalto "CALL_TO_ACTION"  %}
           href="{{ href }}"
           {% else %}
           href="{{ href|escape_url }}"
           {% endif %}
           {% if item.link.open_in_new_tab %}
           target="_blank"
           {% endif %}
           {% if item.link.rel %}
           rel="{{ item.link.rel|escape_attr }}"
           {% endif %}
           >
          {% endif %}
           <span class="btmBorder">{{ item.menu }}</span>
          {% if item.include_link %}
        </a>
        {% endif %}
        {% if item.include_child_menu %}
        <div class="bottomMenu">
          <div class="bottomInner">
            {% for item2 in item.child_menu_group %}
            {% set chilMenuLoop = loop.index %}
            <div class="items childItem_{{chilMenuLoop}}">
              <div class="cmColWrap">
                {% if item2.top_title %}
                <p class="topTitle">
                  {{ item2.top_title }}
                </p>
                {% endif %}
                {% if item2.select_menu_type == "card" %}
                <div class="cmCardsWrap">
                  <div class="cmMiddleInner">
                    <div class="cmIconCnt">
                      {% if item2.card_group.image.src or item2.icon %}
                      <div class="cmIcon">
                        {% if item2.card_group.select_icon_type =="img" %}
                        <img src="{{ item2.card_group.image.src }}" alt="{{ item2.card_group.image.alt }}" >
                        {% elif item2.card_group.select_icon_type =="icon" %}
                        {% icon
                            name="{{ item2.card_group.icon.name }}"
                            style="{{ item2.card_group.icon.type }}"
                            unicode="{{ item2.card_group.icon.unicode }}"
                            icon_set="{{ item2.card_group.icon.icon_set }}"
                          %}
                        {% endif %}
                      </div>
                      {% endif %}
                      {% if item2.card_group.title %}
                      <div class="cmTitleWrap">
                        <p>
                          {{ item2.card_group.title }}
                        </p>
                      </div>
                      {% endif %}
                    </div>
                    {% if item2.card_group.description %}
                    <div class="cmDescwrap">
                      {{ item2.card_group.description }}
                    </div>
                    {% endif %}
                    {% if item2.card_group.include_button %}
                    {{ macros.singlebuttonGroup(item2.card_group.button_group) }} 
                    {% endif %}
                  </div>
                </div>
                {% elif item2.select_menu_type == "menu" %}
                <div class="cmMenuCol">
                  {% for item3 in item2.menu_group %}
                  <div class="cmMenuItem">
                    {% if item3.include_link %}
                    {% set href = item3.link.url.href %}
                    {% if item3.link.url.type is equalto "EMAIL_ADDRESS" %}
                    {% set href = "mailto:" + href %}
                    {% endif %}
                    <a class="overLink"
                       {% if item3.link.url.type is equalto "CALL_TO_ACTION"  %}
                       href="{{ href }}"
                       {% else %}
                       href="{{ href|escape_url }}"
                       {% endif %}
                       {% if item3.link.open_in_new_tab %}
                       target="_blank"
                       {% endif %}
                       {% if item3.link.rel %}
                       rel="{{ item3.link.rel|escape_attr }}"
                       {% endif %}
                       >
                    </a>
                    {% endif %}
                    {% if item3.title %}
                    <p class="cmMenuTitle">
                      {{ item3.title }}
                    </p>
                    {% endif %}
                    {% if item3.description %}
                    <p class="cmMenuDesc">
                      {{ item3.description }}
                    </p>
                    {% endif %}
                  </div>
                  {% endfor %}
                </div>
                {% elif item2.select_menu_type == "hubdb" %}
                <div class="cmHubdbCol">
                  <div class="cmRightInner">
                    <div class="cmIconCnt">
                      <div class="cmIcon">
                        <img src="{{ item2.card_group.image.src }}" alt="{{ item2.card_group.image.alt }}" >
                      </div>
                      <div class="cmTitleWrap">
                        <p class="cmTitle">
                          Title of Featured Resource Goes In This Area
                        </p>
                        <p class="cmDesc">
                          Lorem ipsum dolor sit amet co nsectetur adipiscing dolor sit amet co nsectetur adipiscing.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                {% elif item2.select_menu_type == "blog" %}
                <div class="cmBlogCol">
                  <div class="cmRightInner">

                  </div>
                </div>
                {% endif %}
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </li>
      {% endif %}
      {% endfor %}
    </ul>
    <div class="btnWrapper">
      {% if module.include_button %}
      {{ macros.singlebuttonGroup(module.button_group) }} 
      {% endif %}
    </div>
  </div>
</div>