<div class="cmMegaMenu">
	<div class="topMenu">
		<div class="cmInnerWrap">
			<ul class="mainNav">
				{% for item in module.menu_group %}
				{% set mainMenuLoop = loop.index %}
				{% if item.text %}
				<li class="items item_{{mainMenuLoop}}">
					{% if item.include_link %}
					{% set href = item.link.url.href %}
					{% if item.link.url.type is equalto "EMAIL_ADDRESS" %}
					{% set href = "mailto:" + href %}
					{% endif %}
					<a
						 {% if item.link.url.type is equalto "CALL_TO_ACTION"  %}
						 href="{{ href }}"
						 {% else %}
						 href="{{ href|escape_url }}"
						 {% endif %}
						 {% if item.link.open_in_new_tab %}
						 target="_blank"
						 {% endif %}
						 {% if item.link.rel %}
						 rel="{{ item.link.rel|escape_attr }}"
						 {% endif %}
						 >
						{% endif %}
						{{ item.text }}
						{% if item.include_link %}
					</a>
					{% endif %}
					{% if item.include_child_menu %}
					<div class="bottomMenu">
						<div class="bottomInner">
							<div class="cmLeftCol">
								<div class="cmLeftInner">
									{% for item2 in item.child_menu_group.left_column %}
									{% set childMenuLoop = loop.index %}
									<div class="cardItem childItem_{{childMenuLoop}}">
										<div class="cardItemInner">
											{% if item2.image.src %}
											<div class="cmImage">
												<img src="{{ item2.image.src }}" alt="{{ item2.image.alt }}" >
												<svg class="overlayShape" xmlns="http://www.w3.org/2000/svg" width="194" height="75" viewBox="0 0 194 75" fill="currentColor">
													<path d="M0 43.0257H77.5026L61.1625 35.3208L47.249 28.6702L31.4751 20.9653H0V43.0257Z" fill="currentColor"/>
													<path d="M0 10.9896H19.5031L3.89091 2.14926L0 0V10.9896Z" fill="currentColor"/>
													<path d="M0 74.9999H193.259L161.549 67.295L134.451 60.8878L103.145 53.1829H0V74.9999Z" fill="currentColor"/>
												</svg>
											</div>
											{% endif %}
											{% if item2.title %}
											<h4 class="cmTitle">
												{{ item2.title }}
											</h4>
											{% endif %}
											<div class="btnWrap">

											</div>
										</div>
									</div>
									{% endfor %}
								</div>
							</div>
							<div class="cmMiddleCol">
								<div class="cmMiddleInner">
									{% for item2 in item.child_menu_group.middle_column %}
									{% set childMenuLoop = loop.index %}
									<div class="cmMenuItem cmMenuItem_{{childMenuLoop}}">
										<div class="cmMenuItemInner">
											{% if item2.title or item2.description %}
											{% if item2.include_link %}
											{% set href = item2.link.url.href %}
											{% if item2.link.url.type is equalto "EMAIL_ADDRESS" %}
											{% set href = "mailto:" + href %}
											{% endif %}
											<a class="overLink"
												 {% if item2.link.url.type is equalto "CALL_TO_ACTION"  %}
												 href="{{ href }}"
												 {% else %}
												 href="{{ href|escape_url }}"
												 {% endif %}
												 {% if item2.link.open_in_new_tab %}
												 target="_blank"
												 {% endif %}
												 {% if item2.link.rel %}
												 rel="{{ item2.link.rel|escape_attr }}"
												 {% endif %}
												 >
											</a>
											{% endif %}
											{% endif %}
											{% if item2.title %}
											<h5 class="cmTitle">
												{{ item2.title }}
											</h5>
											{% endif %}
											{% if item2.description %}
											<p class="cmDescription">
												{{ item2.description }}
											</p>
											{% endif %}
										</div>
									</div>
									{% endfor %}
								</div>
							</div>
							<div class="cmRightCol">
								<div class="cmRightInner">
									{% for item2 in item.child_menu_group.right_column %}
									{% set childMenuLoop = loop.index %}
									<div class="rightItems rightItem_{{childMenuLoop}}">
										<div class="rightItemInner">
											{% if item2.include_image %}
											{% if item2.image_field.src %}
											<div class="cmImageWrap">
												<img src="{{ item2.image_field.src }}" alt="{{ item2.image_field.alt }}">
											</div>
											{% endif %}
											{% endif %}
											{% if item2.title %}
											<h4 class="cmTitle">{{ item2.title }}</h4>
											{% endif %}
											<div class="btnWrap"></div>
										</div>
									</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
					{% endif %}
				</li>
				{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
</div>


{% require_css %}
<style>
	{% for item in module.menu_group %}
	{% set mainMenuLoop = loop.index %}
	{% for item2 in item.child_menu_group.right_column %}
	{% set childMenuLoop = loop.index %}
	.cmMegaMenu .items.item_{{mainMenuLoop}} .rightItems.rightItem_{{childMenuLoop}} .rightItemInner{
		background-color:{{ item2.card_settings.background_color.rgba }};
	}
	.cmMegaMenu .items.item_{{mainMenuLoop}} .rightItems.rightItem_{{childMenuLoop}} .rightItemInner .cmTitle{
		color:{{ item2.card_settings.title_color.rgba }};
	}
	{% endfor %}
	{% endfor %}
</style>
{% end_require_css %}


