<!--
  templateType: blog_post
  isAvailableForNewContent: true
  label: Homesteaders-u4m - Blog Post
-->
{% extends './base.html' %} {% block body %}
<main id="main-content" class="body-container-wrapper cmpost">
  <div class="InnerWrpp">
    <div class="topCntt">
      <div class="pd">
        <div class="page-center">
          <div class="leftCnt">
            <div class="blogTitle">
              {{ group.public_title }}
            </div>
          </div>
          <div class="rightCnt">
            {% module "menu" path="@hubspot/menu" , id=190496198662 , label="Blog Menu",flyouts=false%}
          </div>
        </div>
      </div>
    </div>
    <div class="page-center btmmWrpp">
      <div class="flx topWrpp">
        <div class="leftWrpp"></div>
        <div class="rightWrpp">
          <div class="title">
            <div class="date">
              JANUARY 1ST, 2020 | Time to read
            </div>
            <div class="blogTitle">
              {{ content.name }}
            </div>
            {% if content.blog_post_author.avatar or content.blog_post_author.display_name %}
            <div class="authorWrpp">
              <div class="flx">
                {% if content.blog_post_author.avatar %}
                <div class="left">
                  <img alt="{{ content.blog_post_author.display_name }}" src="{{ content.blog_post_author.avatar }}">
                </div>
                {% endif %}
                {% if content.blog_post_author.display_name %}
                <div class="right">
                  Written by: <a href="{{ blog_author_url(group.id, content.blog_post_author.slug) }}" rel="author">
                  {{ content.blog_post_author.display_name }}
                  </a>
                </div>
                {% endif %}
              </div>
            </div>
            {% endif %}

          </div>
        </div>
      </div>
      <div class="btmCntt"> 
        <div class="innerCnt">
          <div class="flx">
            <div class="leftWrpp">
              <div class="innerLeft">
                <span>Share this</span>
                <ul>
                  <li id="linkedin">
                    <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ content.absolute_url }}" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url={{ content.absolute_url }}', 'newwindow', 'width=530,height=600,toolbar=no,directories=no,status=no,menubar=no,scrollbars=yes,copyhistory=no,resizable=yes'); return false;" target="_self"></a>
                  </li>
                  <li id="facebook">
                    <a href="http://www.facebook.com/share.php?u={{ content.absolute_url }}" onclick="window.open('http://www.facebook.com/share.php?u={{ content.absolute_url }}', 'newwindow', 'width=530,height=600,toolbar=no,directories=no,status=no,menubar=no,scrollbars=yes,copyhistory=no,resizable=yes'); return false;" target="_self"></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="rightWrpp">
              <div class="flexx">
                <div class="leftColWrp">
                  <div class="postImg">
                    {% if content.featured_image %}
                    <div class="img">
                      <a class="blog-index__post-image blog-index__post-image--small" style="background-image: url('{{content.featured_image}}')";>
                      </a>
                    </div>
                    {% endif %}
                    <div class="bmtCnt">
                      <span>{{ group.public_title }}</span> > {% if content.tag_list %}<span class="blog-post__tags">{% for tag in content.tag_list %}{{ tag.name }} {% endfor %}</span>{% endif %} > <span>{{ content.name }}</span>
                    </div>
                  </div>
                  <div class="blog-post__body">
                    {{ content.post_body }}
                  </div>
                  {% if content.tag_list %}
                  <div class="btm__tags">
                    {% for tag in content.tag_list %}
                    <a class="blog-post__tag-link" href="{{ blog_tag_url(group.id, tag.slug) }}" rel="tag">{{ tag.name }}</a>
                    {% endfor %}
                  </div>
                  {% endif %}
                </div>
                <div class="rigthColWrp"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock body %}


{% require_css %}
<style>
  .cmpost .topCntt .pd {
    background: #F3F3EB;
  }
  .cmpost .topCntt {
    position: sticky;
    top: 0;
    z-index: 99;
  }
  .cmpost .topCntt .pd .page-center {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .cmpost .topCntt .pd .blogTitle {
    color: #282f3e;
    font-family: Fira Sans Extra Condensed;
    font-size: 22rem;
    font-style: normal;
    font-weight: 500;
    letter-spacing: .02em;
    line-height: 1.5;
    position: relative;
    text-decoration: underline;
    text-decoration-color: #ebb01c;
    transition: .1s ease-in;
  }
  .cmpost .topCntt .pd .rightCnt ul {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: space-between;
  }
  .cmpost .topCntt .pd .rightCnt ul:after,.cmpost .topCntt .pd .rightCnt ul:before {
    display: none;
  }
  .cmpost .topCntt .pd .rightCnt ul li {
    margin: 0;
  }
  .cmpost .topCntt .pd .rightCnt ul li a {
    max-width: 100%;
    width: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #282F3E;
    padding: 0;
    display: block;
    cursor: pointer;
  }
  .cmpost .topWrpp {
    margin-top: 66px;
  }
  .cmpost .flx {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 41px;
  }
  .cmpost .flx .leftWrpp {
    width: 44px;
  }
  .cmpost .flx .rightWrpp {
    flex: 1;
  }
  .cmpost .page-center.btmmWrpp {
    max-width: 1272px;
  }
  .cmpost .flx .rightWrpp .title .date {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.15em;
    color: #004990;
  }
  .cmpost .flx .rightWrpp .title .blogTitle {
    font-style: normal;
    font-weight: 500;
    font-size: 75px;
    line-height: 100%;
    margin-bottom: 36px;
    color: #004990;
  }
  .cmpost .flx .rightWrpp .authorWrpp .left {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
  }
  .cmpost  .flx .rightWrpp .authorWrpp .flx {
    gap: 20px;
  }
  .cmpost  .flx .rightWrpp .authorWrpp .right {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #282F3E;
  }
  .cmpost  .flx .rightWrpp .authorWrpp .right a {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #282F3E;
    text-decoration: underline;
    text-decoration-color: #ebb01c;
    transition: .1s ease-in;
  }
  .cmpost .btmCntt .innerCnt .flx .rightWrpp .postImg {
    margin-top: 40px;
  }
  .cmpost .btmCntt .innerCnt .flx .rightWrpp .postImg .img {
    max-width: 850px;
    height: 100%;
  }
  .cmpost .btmCntt .innerCnt .flx .rightWrpp .postImg .img a.blog-index__post-image {
    width: 100%;
    height: 100%;
    border-radius: 0px 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 46.23548%;
  }
  .cmpost .btmCntt .innerCnt .flx .rightWrpp .postImg .bmtCnt {
    margin-top: 32px;
    display: flex ;
    align-items: center;
    gap: 16px;   
  }
  .cmpost .btmCntt .innerCnt .flx .rightWrpp .postImg .bmtCnt span{
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-decoration-line: underline;
    color: #282F3E;
    text-decoration: underline;
    text-decoration-color: #ebb01c;
    transition: .1s ease-in;
  }
  .cmpost .btmCntt .innerCnt .flx .rightWrpp .blog-post__body {
    margin-top: 54px;
  }
  .cmpost .btmCntt .innerCnt .flx .rightWrpp .blog-post__body img {
    margin-top: 62px;
    margin-bottom: 64px;
    border-radius: 0px 50px;
    overflow: hidden;
  }
  .cmpost .btmCntt .innerCnt .flx .rightWrpp .btm__tags {
    margin-top: 42px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .cmpost .btmCntt .innerCnt .flx .rightWrpp .btm__tags a.blog-post__tag-link {
    background: #DECAA1;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #282F3E;
    padding: 3.5px 10px;
    min-width: 93px;
  }
  .cmpost .btmCntt {
    margin-bottom: 30px;
  }
  .cmpost .btmCntt .flx {
    align-items: flex-start;
  }
  .cmpost .flx .leftWrpp {
    width: 44px;
    position: sticky;
    top: 40px;
    padding-top: 40px;
  }
  body.hs-content-id-190521815695.hs-blog-post.hs-content-path-sample-blog-homesteaders-u4m-sample-post-1.hs-content-name-sample-post-1.hs-blog-name-sample-blog-homesteaders-u4m.hs-blog-id-190533811036.window-loaded header.header {
    display: none;
  }
</style>
{% end_require_css %}