<div class="blogListing">
  <div class="featuredSection">
    <div class="page-center">
      <div class="flex_row">
        <div class="leftSec">
          {% if group.public_title %}
          <h1 class="blogtitle">{{ group.public_title }}</h1>
          {% endif %}
          {% if group.description %}
          <p class="blogsubtitle">{{ group.description }}</p>
          {% endif %}
        </div>
        <div class="rightSec">
          {% set tag_posts = blog_recent_tag_posts(group.id,module.select_tag, 1) %}
          {% for tag_post in tag_posts %}
          <div class="featuredPost">
            <div class="flex_row">
              <div class="featuredPostImg">
                <div class="featuredPostImgbg" style="background-image:url({{ tag_post.featured_image }})"></div>
              </div>
              <div class="featuredPostCont">
                <div class="featuredPostMeta">
                  {% if tag_post.topic_list %}
                  {% set included_topics = tag_post.topic_list | rejectattr("slug", "equalto", "featured", "Featured") | list %}
                  {% if included_topics|length > 0 %}
                  {% for topic in included_topics %}
                  {% if loop.first %}
                  <a class="topic" href="{{ blog_tag_url(group.id, topic.slug) }}" >{{ topic.name }}</a>
                  {% endif %}
                  {% endfor %}
                  {% endif %}
                  {% endif %} | {{ tag_post.publish_date_local_time.strftime('%B') }}
                  {% set day = tag_post.publish_date_local_time.strftime('%e') %}
                  {% if day >= 4 and day <= 20 %}
                  {% set day = day + "th" %}
                  {% elif day >= 24 and day <= 30 %}
                  {% set day = day + "th" %}
                  {% elif day == 1 or day == 21 or day == 31 %}
                  {% set day = day + "st" %}
                  {% elif day == 2 or day == 22 %}
                  {% set day = day + "nd" %}
                  {% elif day == 3 or day == 23 %}
                  {% set day = day + "rd" %}
                  {% endif %}
                  {{ day }},
                  {{ tag_post.publish_date_local_time.strftime('%Y') }}
                </div>
                <div class="featuredPostttl">
                  <h3><a href="{{ tag_post.absolute_url }}">{{ tag_post.name }}</a></h3>
                </div>
                <div class="featuredPostdesc">
                  <p> {{ tag_post.post_list_content|striptags|safe|truncatehtml(200, '.' , false) }}</p>
                </div>
                {% if module.featured_section.read_more_text %}
                <div class="featuredPostbtn">
                  <a href="{{ tag_post.absolute_url }}">{{ module.featured_section.read_more_text }}</a>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
          {% endfor %} 
        </div>
      </div>
    </div>
  </div>
  <div class="mainSec">
    <div class="page-center">
      <div class="topSec">
        <h4>{{ module.blog_listings.title }}</h4>
        <div class="topSecMeta">
          <div class="tagSec">
            {% set my_topics = blog_topics(group.id, 10) %}
            <select id="tinynav1" class="tinynav tinynav1">
              <option value="{{ group.absolute_url }}">Select Topic...</option>
              {% for item in my_topics %}
              <option value="{{ blog_tag_url(group.id, item.slug) }}" {% if content.absolute_url == blog_tag_url(group.id, item.slug) %} selected{% endif %}>{{ item }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="searchSec">

          {% set hide_search_label = module.search_section.input.field_label is truthy ? false : true %}
          {% set button_position_class = "hs-search-field__bar--button-" ~  module.styles.button.position.button_position %}
          {% set button_alignment_class = module.styles.button.position.button_position == "beneath" ? "hs-search-field__bar--button-align-" ~ module.styles.button.position.button_alignment : "" %}
          {% set has_search_icon = module.search_section.button.icon.name is truthy ? true : false %}
          {% set show_suggest_in_editor_class = is_in_editor ? "hs-search-field--open": "" %}

          {% set button_label_class = module.search_section.button.button_label is truthy ? "hs-search-field__button--labelled" : "" %}
          {% set search_page = module.search_section.results.use_custom_search_results_template is truthy and module.search_section.results.path_id ? content_by_id(module.search_section.results.path_id).absolute_url : site_settings.content_search_results_page_path %}

          {% unless (search_page is string_containing "//") %}
          {% set search_page = "/" ~ search_page %}
          {% endunless %}

          {% set search_page = search_page|regex_replace("http:", "") %}

          {# Add a checker here so any new border object keys don't get included in CSS loop. #}
          {% set valid_border_sides = [ "top", "right", "left", "bottom" ] %}

          {#  Valid content types -- BLOG_POST and BLOG_LISTING are controlled by one field #}
          {% set content_types = [
  {
    field_name: "website_pages",
    content_type: "SITE_PAGE"
  },
  {
    field_name: "landing_pages",
    content_type: "LANDING_PAGE"
  },
  {
    field_name: "blog_posts",
    content_type: "BLOG_POST"
  },
  {
    field_name: "blog_posts",
    content_type: "LISTING_PAGE"
  },
  {
    field_name: "knowledge_articles",
    content_type: "KNOWLEDGE_ARTICLE"
  },
  {
    field_name: "case_studies",
    content_type: "HS_CASE_STUDY"
  }
] %}



          <div class="hs-search-field">
            <div class="hs-search-field__bar {{ button_position_class|escape_attr }} {{ button_alignment_class|escape_attr }} {{ show_suggest_in_editor_class|escape_attr }}">
              <form data-hs-do-not-collect="true" class="hs-search-field__form" action="{{ search_page|escape_url }}">

                <label class="hs-search-field__label {% if hide_search_label %}show-for-sr{% endif %}" for="{{ name ~ "-input"|escape_attr }}">{{ module.search_section.input.field_label|sanitize_html or module.search_section.default_text.sr_search_field_aria_label|sanitize_html }}</label>

                <input
                       role="combobox"
                       aria-expanded="false"
                       aria-controls="autocomplete-results"
                       aria-label="{{ module.search_section.default_text.sr_search_field_aria_label|escape_attr }}"
                       type="search"
                       class="hs-search-field__input"
                       id="{{ name ~ "-input"|escape_attr }}"
                       name="q"
                       autocomplete="off"
                       aria-autocomplete="list"
                       placeholder="{{ module.search_section.input.placeholder|escape_attr }}">

                {% for type in content_types %}
                {% if module.search_section.results.content_types[type.field_name] is truthy %}
                <input type="hidden" name="type" value="{{ type.content_type }}">
                {% endif %}
                {% endfor %}

                {% if module.search_section.results.group_id %}
                <input type="hidden" name="groupId" value="{{ module.search_section.results.group_id|escape_attr }}">
                {% endif %}

                <button class="hs-search-field__button {{ button_label_class|escape_attr }}" aria-label="{{ module.search_section.default_text.sr_search_button_aria_label|escape_attr }}">{% if has_search_icon %}
                  {% icon
            name={{ module.search_section.button.icon.name }}
            style={{ module.search_section.button.icon.type }}
            unicode={{ module.search_section.button.icon.unicode }}
            icon_set={{ module.search_section.button.icon.icon_set }}
          %}
                  {% endif %} {{ module.search_section.button.button_label }}</button>
                <div class="hs-search-field__suggestions-container {% if is_in_editor %} hs-editor-hide-until-active {% endif %}">
                  <ul
                      id="autocomplete-results"
                      role="listbox"
                      aria-label="term"
                      class="hs-search-field__suggestions">
                    {% if is_in_editor %}
                    <li role="option" tabindex="-1" aria-posinset="1" aria-setsize="3" class="results-for">{{ module.search_section.default_text.as_example_search_results|sanitize_html }}</li>
                    <li role="option" aria-posinset="2" tabindex="1"><a href="#">{{ module.search_section.default_text.as_example_line_1|sanitize_html }}</a></li>
                    <li role="option" aria-posinset="3" tabindex="2"><a href="#">{{ module.search_section.default_text.as_example_line_2|sanitize_html }}</a></li>
                    <li role="option" aria-posinset="4" tabindex="3"><a href="#">{{ module.search_section.default_text.as_example_line_3|sanitize_html }}</a></li>
                    {% else %}
                    <li role="option" tabindex="-1" aria-posinset="1" aria-setsize="0" class="results-for show-for-sr">{{ module.search_section.default_text.sr_empty_search_field_message|sanitize_html }}</li>
                    {% endif %}
                  </ul>
                </div>
              </form>
            </div>
            <div id="sr-messenger" class="hs-search-sr-message-container show-for-sr"
                 role="status"
                 aria-live="polite"
                 aria-atomic="true">
            </div>
          </div>

          {% require_js position="head" %}
          <script data-search_input-config="config_{{ name|escape_attr }}" type="application/json">
  {
    "autosuggest_results_message": "{{ module.search_section.default_text.autosuggest_results_message|escapejson }}",
    "autosuggest_no_results_message": "{{ module.search_section.default_text.autosuggest_no_results_message|escapejson }}",
    "sr_empty_search_field_message": "{{ module.search_section.default_text.sr_empty_search_field_message|escapejson }}",
    "sr_autosuggest_results_message": "{{ module.search_section.default_text.sr_autosuggest_results_message|escapejson }}",
    "sr_search_field_aria_label": "{{ module.search_section.default_text.sr_search_field_aria_label|escapejson }}",
    "sr_search_button_aria_label": "{{ module.search_section.default_text.sr_search_button_aria_label|escapejson }}"
  }
          </script>

          <script id="hs-search-input__valid-content-types" type="application/json">
    [
      {% for type in content_types %}
        "{{ type.content_type }}"{% if not loop.last %},{% endif %}
      {% endfor %}
    ]
          </script>
          {% end_require_js %}
        </div>
      </div>
      <div class="btmSec">
        <div class="cardItems flex_row">
          {% for content in contents %}
          <div class="cardItem col4">
            {% if module.blog_listing.featured_image %} 
            {% if content.featured_image %}
            <div class="cardItemImg">
              <div class="cardItemImgBg" style="background-image:url({{ content.featured_image }})"></div>
            </div>
            {% endif %} 
            {% endif %}
            <div class="cardItemCon">
              {% if module.blog_listing.tag %} 
              {% if content.topic_list %}
              {% set included_topics = content.topic_list | rejectattr("slug", "equalto", "featured", "Featured") | list %}
              {% if included_topics|length > 0 %}
              <div class="cardItemtag">
                {% for topic in included_topics %}
                <a class="topic" href="{{ blog_tag_url(group.id, topic.slug) }}" >{{ topic.name }}</a>
                {% endfor %}
              </div>
              {% endif %} {% endif %}{% endif %}

              {% if module.blog_listings.read_minute %}
              <div class="cardItemMeta">
                <span class="reading-minutes">
                  {% set initialPostWords = content.post_body|striptags|wordcount %}
                  {% set calculatedPostWords = (initialPostWords/100) * 100 %}
                  {% set finishedPostWords = calculatedPostWords|divide(300)|round(2) %}
                  {% set number = finishedPostWords|round %}
                  {% if number < 1 %}
                  {% else %}
                  {{ finishedPostWords|round }} Minute Read
                  {% endif %}
                </span>
              </div>
              {% endif %}

              {% if module.blog_listing.post_title %}
              <div class="cardItemttl">
                <a href="{{ content.absolute_url }}">{{ content.name | striptags }}</a>
              </div>
              {% endif %} 
              {% if module.blog_listing.read_more %}
              <div class="cardItembtn">
                <a href="{{ content.absolute_url }}">{{ module.blog_listing.read_more_text }}
                </a>
              </div>
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
        {% if not simple_list_page %}
        <div class="blog-pagination">
          <div class="nav-links">
            {% set page_list = [-2, -1, 0, 1, 2] %}
            {% if contents.total_page_count - current_page_num == 1 %}{% set offset = -1 %}
            {% elif contents.total_page_count - current_page_num == 0 %}{% set offset = -2 %}
            {% elif current_page_num == 2 %}{% set offset = 1 %}
            {% elif current_page_num == 1 %}{% set offset = 2 %}
            {% else %}{% set offset = 0 %}{% endif %}

            <a class="prev page-numbers {% if last_page_num %}disabled{% endif %}" href="{{ blog_page_link(last_page_num) }}"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="25" viewBox="0 0 15 25" fill="none">
              <path d="M5.67568 12.1622L15 2.83784L12.1622 0L0 12.1622L12.1622 24.3243L15 21.4865L5.67568 12.1622Z" fill="#004990"/>
              </svg></a>

            {% for page in page_list %}
            {% set this_page = current_page_num + page + offset %}
            {% if this_page > 0 and this_page <= contents.total_page_count %}
            <a class="page_num{% if this_page == current_page_num %} active{% endif %}" href="{{ blog_page_link(this_page) }}">{{ this_page }}</a>
            {% endif %}
            {% endfor %}

            <a class="next page-numbers {% if next_page_num %}disabled{% endif %}" href="{{ blog_page_link(current_page_num + 1) }}"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="25" viewBox="0 0 15 25" fill="none">
              <path d="M9.32432 12.1622L0 2.83784L2.83784 0L15 12.1622L2.83784 24.3243L0 21.4865L9.32432 12.1622Z" fill="#004990"/>
              </svg></a>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>




