<!--
templateType: global_partial
label: Website header
-->
{% set dark_logo = get_asset_url('../../templates/images/Homesteaders-dark-logo.png') %}
{% set light_logo = get_asset_url('../../templates/images/Homesteaders-light-logo.png') %}

<header class="header">
  <div class="page-center">
    <div class="topBar">
      
    </div>
    <div class="cmInnerWrap">
      <div class="cntHolder">
        <div class="cmLogoWrap">
          <div class="cmDarkLogo">
          {% module "dark_logo" path="@hubspot/linked_image", link="/", label="Dark Logo", img={src="{{dark_logo}}", width=142, override_inherited_src= true, alt="Homesteaders Life Company"} %}
          </div>
          <div class="cmLightLogo">
          {% module "light_logo" path="@hubspot/linked_image", link="/", label="Light Logo", img={src="{{light_logo}}", width=142, override_inherited_src= true, alt="Homesteaders Life Company"} %}
          </div>
        </div>
        <div class="cmMenuWrap">
          {% module "mega_menu" path="../../modules/u4m-mega-menu", label="Mega Menu" %}
        </div>
        <div class="triggerWrap nav__trigger">
            <span class="nav__trigger-item nav__trigger-item--first"></span>
          <span class="nav__trigger-item nav__trigger-item--second"></span>
          <span class="nav__trigger-item nav__trigger-item--third"></span>
        </div>
      </div>
    </div>
  </div>
</header>