<!--
templateType: global_partial
label: Footer
-->
<footer class="footer">
<div class="footerContainer">

  <div class="page-center">
    <div class="innerFooter">
      <div class="ftrTop">
      <div class="ftrTopInner">
        <div class="TopleftCol ftrCol">
          {% module_block module "contact_info" path="@hubspot/rich_text" label="Contact Information" %}
          {% module_attribute "html" %}
          <h5>
            Contact Information
          </h5>
          <p>
            Customer Service:
            <a href="tel:8004773633">(800) 477-3633</a>
          </p>
          <p>
            Homesteaders Life Company
            5700 Westown Parkway
            West Des Moines, Iowa 50266
          </p>
          {% end_module_attribute %}
          {% end_module_block %}
        </div>
       
        <div class="TopMidCol ftrCol">
          {% module_block module "product_dis" path="@hubspot/rich_text" label="Product Disclosures" %}
          {% module_attribute "html" %}
          <p>
            Life insurance and annuity products are issued by 
            Homesteaders Life Company. Products are subject to state availability.
          </p>
          <p>
            Any information regarding Homesteaders Life Company's products is intended solely for licensed insurance and funeral professionals.
          </p>
          <p>
            Texas consumers visit  <a href="www.prepaidfunerals.texas.gov">www.prepaidfunerals.texas.gov</a> 
            for more information.
          </p>
          {% end_module_attribute %}
          {% end_module_block %}
        </div>
      
        <div class="TopRightCol ftrCol">
          {% module_block module "connect_with_us" path="@hubspot/rich_text" label="Connect with Us" %}
          {% module_attribute "html" %}
          <h5>
            Get In Touch
          </h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur.
          </p>
          <h5>
            myHomesteaders Login
          </h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur.
          </p>
          <h5>
            Careers at Homesteaders
          </h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur.
          </p>
          {% end_module_attribute %}
          {% end_module_block %}
        </div>
      </div>
    </div>
    <div class="ftrBtm">
      <div class="ftrBtmInner">
        <div class="ftrLogo">
          {% module "footer_logo" path="@hubspot/logo", label="Footer Light Logo",  img={src= "{{ get_asset_url('../../templates/images/Homesteaders-light-logo.png') }}", 
        width=160, override_inherited_src= true, alt="Homesteaders Logo" } , link="/" %}
        </div>

        <div class="btmContent">
          {% module_block module "our_mission" path="@hubspot/rich_text" label="Our Mission" %}
          {% module_attribute "html" %}
          <p>
            Option to have some mission text in case the Homesteaders team wants to add elevator pitch below the logo.
          </p>
          {% end_module_attribute %}
          {% end_module_block %}
        </div>

        <div class="ftrSocial">
           {% module "u4m_social_share" path="../../modules/u4m-social-share", label="Social Share" ,
           social_share=[ {
          "link" : "https://www.facebook.com/",
          "select_icon" : {
            "name" : "Facebook",
            "type" : "REGULAR",
            "unicode" : "f09a"
          },
          "select_icon_type" : "icon",
          "select_image" : {
            "loading" : "lazy",
            "size_type" : "auto",
            "src" : ""
          }
        }, {
          "link" : "https://www.instagram.com/",
          "select_icon" : {
            "name" : "Instagram",
            "type" : "REGULAR",
            "unicode" : "f16d"
          },
          "select_icon_type" : "icon",
          "select_image" : {
            "loading" : "lazy",
            "size_type" : "auto",
            "src" : ""
          }
        }, {
          "link" : "https://in.linkedin.com/",
          "select_icon" : {
            "name" : "LinkedIn",
            "type" : "REGULAR",
            "unicode" : "f08c"
          },
          "select_icon_type" : "icon",
          "select_image" : {
            "loading" : "lazy",
            "size_type" : "auto",
            "src" : ""
          }
        } ],
         module_settings={
        "icon_background_color" : {
          "color" : "#2675C1",
          "opacity" : 0
        }
      }
      %}
        </div>

        <div class="ftrCopyright">
          {% module_block module "copyright" path="@hubspot/rich_text" label="Copy Rights" %}
          {% module_attribute "html" %}
          <p>
            © {{year}} Homesteaders Life Company    <a href="">Terms of Use</a>   <a href=""> Privacy Policy </a>
          </p>
          {% end_module_attribute %}
          {% end_module_block %}
        </div>
      </div>
    </div>
    </div>
  </div>
    
  </div>
</footer>
