// Colors - For transparency use rgba($action1, 0.5) = 50% opaque
$action1: #004990;
$action2: #2675c1;
$black: #282f3e;
$white: #ffffff;
$Gold: #ebb01c;
$gray1: #edf0f2;
$gray2: #cbd6e2;
$gray3: #7c98b6;
$lightestbrown: #f8f4ec;
$lightbrown: #decaa1;
$mediumbrown: #8c6907;
$darkbrown: #522705;
$cream: #faf7e5;
$lighttan: #f3f3eb;
$lightestblue: #eaf2fc;
$lightblue: #95bcf0;
$gradient1: linear-gradient(-45deg, $black 0%, $action2 50%);
$font1: "Fira Sans";
$font2: "Fira Sans Extra Condensed";
$baseFontSize: 16rem;
$baseLineHeight: 1.5; // Golden ratio
// Border Radius
$border1: 4rem;
$border2: 5rem;
$border3: 50rem;
// Shadow
$shadow1: 0rem 1rem 12rem 0 rgba($black, 0.1);
$shadow2: 0 5rem 25rem 0 rgba($black, 0.2);
$shadow3: 0 10rem 50rem 0 rgba($black, 0.3);
$textShadow1: 0 0 4rem rgba($black, 0.3);
// Animation
$animation1: 0.1s ease-in;
$animation2: 0.25s ease-in;
$animation3: 1s ease-in;
